@font-face {
  font-family: 'raleway_regular';
  src:
    url('/public/assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('/public/assets/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$font-primary: raleway_regular;
