@use 'variables/colors';
@use 'variables/fonts';

* {
  font-family: fonts.$font-primary;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
